name: Build & Release flager Linux

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.4'

      - name: Build with script
        run: |
          chmod +x build.sh
          ./build.sh

      - name: Create Release and Upload
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/lnux-arm-flager.tar.xz 
            dist/lnux-amd64-flager.tar.xz
            dist/lnux-386-flager.tar.xz
          generate_release_notes: true
          body_path: README.md                           # ← README එකම description එකට
          # හෝ body: | යටින් ඔයාට ඕනෙ text එක දාන්න